# SPDX-FileCopyrightText: 2018 Sveriges Television AB
#
# SPDX-License-Identifier: CC0-1.0

generated-java
*.iml
**/target/

coverage-error.log

**/build

# Gradle 4.1 + IntelliJ build directory:
out/
gradlew.bat

*.log
.gradle
schema

.idea/*


*.un
*.un~

*.swp
